<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %} {{ page.title }} | {% endif %} pw374 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css" />
{% if page.feeds %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
<link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="/atom.xml" />
{% endif %}
<style type="text/css">
  .toc ul { margin-left: 0; }

  {% if page.toc_start_depth %}
  .toc {% for i in (1..page.toc_start_depth) %}ul {% endfor %}{ margin-left: 25px; }
  {% endif %}

  {% if page.toc_end_depth %}
  .toc {% for i in (1..page.toc_end_depth) %}ul {% endfor %}{ display: none; }
  {% endif %}
</style>
</head>
<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <h1 id="project_title"><a href='http://pw374.github.io'>pw374.github.io</a></h1>
      <h2 id="project_tagline">(this might be) Philippe Wang's (broken?) blog</h2>
    </header>
  </div>
  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      {{ content }}
    </section>

    <section id="archive" class="inner">
      <h4> Archive </h4><img style="display: inline">
      <ul class="unstyled">
        {% for post in site.posts %}
        {% if forloop.first %}
        <!-- year -->
        <li><strong>{{ post.date | date: '%Y' }}</strong>
          <ul class="unstyled">
            <!-- month -->
            <li>{{ post.date | date: '%B' }}
              <ul style="list-style: none">
                {% else %}
                {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
                {% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
                {% if year != nyear %}
              </ul>
            </li>
          </ul>
        </li>
        <li><strong>{{ post.date | date: '%Y' }}</strong>
          <ul class="unstyled">
            <li>{{ post.date | date: '%B' }}
              <ul style="list-style: none">
                {% elsif month != nmonth %}
              </ul>
            </li>
            <li>{{ post.date | date: '%B' }}
              <ul style="list-style: none">
                {% endif %}
                {% endif %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% if forloop.last %}
              </ul>
            </li>
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>
  </div>
  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <p>On <a href="https://github.com/pw374/pw374.github.io">GitHub</a></p>
    </footer>
  </div>
</body>
</html>
